:root {
    --black: #000000;
    --white: #ffffff;
    --form-width: 75%;
    --border: 1px solid rgba(255, 255, 255, 0.5);
    --font-small: 0.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--black);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    width: 90%;
    max-width: 400px;
    background-color: var(--black);
    padding: 1.5rem 0;
}

header {
    color: var(--white);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

header h1 {
    font-size: 1.4rem;
    margin-bottom: 0.1em;
}

header p {
    font-size: 0.85rem;
    max-width: 70%;
    margin: 0 auto;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

/* Positioning here to achieve label inside input */
.input-group {
    position: relative;
    width: var(--form-width);
}

.input-group + .input-group {
    margin-top: 1.2rem;
}


/* Positioning here to achieve label inside input */
.input-group label {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-90%);
    font-size: var(--font-small);
    color: var(--white);
    pointer-events: none;
    transition: all 0.2s ease;
}

.toggle-password {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: var(--font-small);
    padding: 0;
    line-height: 1;
}

.input-group input {
    width: 100%;
    padding: 0.75rem 0.75rem;
    font-size: 1rem;
    border: var(--border);
    border-radius: 0.25rem;
    outline: none;
    background-color: var(--black);
    color: var(--white);
}

/* :placeholder-shown input is currently empty */
/* not:placeholder-shown adjust the place holder when user types in text. Helps to keep placeholder and input text apart. */

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 0.3rem;
    transform: translateY(0);
    font-size: 0.5rem;
    color: var(--white);
}

/* Shift cursor and text down on focus */
/* Overriding padding with fixed values on focus so input box does not shrink when font size drops on focus */
.input-group input:focus,
.input-group input:not(:placeholder-shown) {
    padding: 1.2rem 0.75rem 0.3rem;
    font-size: 0.75rem;
}


/* Higher specificity than the general focus rule */
/* Gives input text password more padding and stops it from reach eye icon */
.input-group input[type="password"]:focus,
.input-group input[type="password"]:not(:placeholder-shown) {
    padding-right: 2.25rem;
}


/* Overriding the browser autocomplete/autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--black) inset;
    -webkit-text-fill-color: var(--white);
}

button[type="submit"] {
    width: var(--form-width);
    padding: 0.75rem 0.75rem;
    font-size: var(--font-small);
    margin-top: 1.4rem;
    border-radius: 0.25rem;
    border: var(--border);
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
}

.forgot-password {
    color: var(--white);
    font-size: var(--font-small);
    text-decoration: none;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    font-weight: bold;
}

.divider {
    display: flex;
    align-items: center;
    gap: 0.65rem;
    width: var(--form-width);
    margin: 0 auto;
}

/* content creates an empty inline element */
/* element is styled & made visible with height & bg color */
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--white);
}

.divider span {
    color: var(--white);
    font-size: var(--font-small);
}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    margin-top: 1.4rem;
    width: 100%; 
}


.social-login a .icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    margin-right: 0.6em;
}


.social-login a {
    text-decoration: none;
    color: var(--white);
    font-size: var(--font-small);
    display: block;
    width: var(--form-width);
    margin: 0 auto;
    padding: 0.6rem 0.8rem;
    border: var(--border);
    border-radius: 0.25rem;
    background-color: var(--black);
    text-align: center;    
}

.social-login a:hover, 
.input-group input:hover, 
button:not(.toggle-password):hover {
   border: 1px solid var(--white);
}

/* Positioning error message absolutely to its parent input-group so it does not afffect/add input-group height when it changes to visible is JS code. */
.error {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    color: red;
    font-size: 0.5rem;
    margin-top: 0.2rem;
    text-align: left;
}